.vs/
bin/
obj/
*.user
.idea/.idea.Tessin.Bladerunner/.idea/.name
.idea/.idea.Tessin.Bladerunner/.idea/encodings.xml
.idea/.idea.Tessin.Bladerunner/.idea/indexLayout.xml
.idea/.idea.Tessin.Bladerunner/.idea/projectSettingsUpdater.xml
.idea/.idea.Tessin.Bladerunner/.idea/workspace.xml
