:host
{
    --ag-grid-size: 3px !important;
}

.ag-highlighted {
    background-color: $alert !important;
}

.ag-theme-bladerunner {
    --ag-header-column-resize-handle-color: transparent;
    --ag-header-column-resize-handle-display: block;
    font-family: "AeonikProVF" !important;
    font-size: 12px !important;
}

div.ag-theme-alpine div.ag-row {
    font-size: 12px !important;
    font-family: "AeonikProVF" !important;
}