@import "globals";

.ag-highlighted {
    background-color: $alert !important;
}

.ag-theme-alpine {
    --ag-header-column-resize-handle-color: red;
    --ag-header-column-resize-handle-display: block;
    --ag-foreground-color: #1c1c1c;
    --ag-background-color: ;
    --ag-header-foreground-color: #1c1c1c;
    --ag-header-background-color: #f7f7f7;
    --ag-footer-foreground-color: #1c1c1c;
    --ag-footer-background-color: #f7f7f7;
    --ag-odd-row-background-color: #e2e2e2;
    --ag-header-column-resize-handle-color: #1c1c1c;
    --ag-selected-row-background-color: #f7f7f7;
    --ag-data-color: #1c1c1c;
    --ag-grid-size: 1px;
    

    font-family: "AeonikProVF";
    font-size: 13px;
    line-height: 1.5;
    color: $font-color;
}
