body {
	margin: 0em;
    padding: 0em;
    height: 100%;
    min-height: 100%;
    font-family: $font-family !important;
    font-size: 12px;
    line-height: 1.5;
    color: $font-color;
	background-color:white;
    -webkit-print-color-adjust: exact;
}

h1, h2, h3 { font-weight: $font-weight-bold; }

a {
    color: $primary-cta;
}

p, pre {
	margin:0;
	padding:0;
}

table {
	border-collapse: collapse;
	// border: 2px solid #17b;
	margin: 0.3em 0.2em;
	border: 0px;
}

table.limit {
	border-bottom-color: #c31;
}

table.expandable {
	border-bottom-style: dashed;
}

table.error {
	border-bottom-width: 4px;
}

td {
	/*
    background-color: white;
	*/	
}


td, th {
	font-size: 1em;
	vertical-align: middle;
	border: 1px solid #aaa;
	padding: 6px 6px;
	margin: 0;
}

th {
	background-color: $primary-cta;
    color: white;
	text-align: left;
	border: 1px solid #777;
	font-size:.9em;
	font-weight: $font-weight-bold;
}

th.member {
	padding: 0.1em 0.2em 0.1em 0.2em;
}

td.typeheader {
	color: white;
	background-color: transparent;
	padding: 0 0.2em 0.15em 0.1em;
    opacity: 0.5;
    border: 1px transparent solid;
    padding: 2px;
}

td.typeheader:hover {
    opacity: 1;
}

td.typeheader {
	display: none;
}

td.n { text-align: right }

a:link.typeheader, a:visited.typeheader, a:link.extenser, a:visited.extenser, a:link.fixedextenser, a:visited.fixedextenser {
	font-size: .8em;
	font-weight: $font-weight-bold;
	text-decoration: none;
	color: #000;
	float:left;
	background-color: transparent;
}

a:link.difheader, a:visited.difheader { color: #ff8 }

a:link.extenser, a:visited.extenser, a:link.fixedextenser, a:visited.fixedextenser {
	float:right; 
	padding-left:2pt;
	margin-left:4pt;
	background-color: transparent;
}

span.typeglyph, span.typeglyphx {
	padding: 0 0.2em 0 0;
	margin: 0;
}

span.extenser, span.extenserx, span.fixedextenser {	
	margin-top:1.2pt;
}

span.typeglyph, span.extenser, span.fixedextenser {
	font-family: webdings;
}

span.fixedextenser {
	display:none;
	position:fixed;
	right:6px;
}

td.typeheader:hover .fixedextenser {
	display:block;
}

span.typeglyphx, span.extenserx {
	font-weight: $font-weight-bold;
	margin: 2px;
}

table.group {
	border: none;
	margin: 0;
}

td.group {
	border: none;
	padding: 0 0.1em;
}

div.spacer { margin: 0.6em 0; }

table.headingpresenter {
	border: none;
	border-left: 3px solid $primary-cta;
    margin: .8em 0em 1em 0.15em;
}

th.headingpresenter {
	border: none;
    padding: 0 0 0.2em 0.5em;
    color: $primary-cta;
    font-weight: $font-weight-bold;
    font-size: 1em;
    background-color: transparent;  
}

td.headingpresenter {
	border: none;
	background-color:transparent;
	padding: 0 0 0 0.6em;
}

td.summary { 
	background-color: #def;
	color: #024;
	padding: 0 0.1em 0.1em 0.1em;
	border-top: 2px solid #000000;
}

td.columntotal 
{
	background-color: #eee;
	font-weight: $font-weight-bold;
	color: #17b;
	text-align:right;
}

span.graphbar {
	background: #17b;
	color: #17b;
	margin-left: -2px;
	margin-right: -2px;
}

a:link.graphcolumn, a:visited.graphcolumn {
	color: #17b;
	text-decoration: none;
	font-weight: $font-weight-bold;
	font-size: 1.1em;
	letter-spacing: -0.2em;	
	margin-left: 0.1em;
	margin-right: 0.2em;
}

a:link.collection, a:visited.collection { color:green }

a:link.reference, a:visited.reference { color:blue }

i { color: green }

em { color:red; }

.highlight { background: #ff8 }

.fixedfont { font-family: Consolas, monospace }

code { font-family: Consolas }

code.xml b { color:blue; font-weight:normal }
code.xml i { color:maroon; font-weight:normal; font-style:normal }
code.xml em { color:red; font-weight:normal; font-style:normal }

span.cc { background:#666; color:white;margin:0px 1.5px; padding:0px 1px; font-family:Consolas,monospace; border-radius:3px; }

.difadd { background: #d3f3d3 }
.difremove { background: #f3d8d8 }

::-ms-clear { display: none; }

input,textarea,select {
	padding-left: 5px;
    padding-right: 5px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0;
}

input,select {
	height: 35px;
	width: 10em;
}

select {
	box-sizing:content-box;
}

textarea {
    font-family: "Roboto", sans-serif;
}

button { 
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    background-color: $primary-cta;
    border: 0px;
    color: white;
	border-radius: 0px;
}

button:disabled { 
	background-color: gray;
}

input[type="radio"],
input[type="checkbox"] 
{
    margin:0 0.4em 0 0;
	width: 21px;
    height: 21px;
	padding: 3px;
	outline: none;
}

label.checkbox-label {
	display: block;
	margin-top:10px;
}

fieldset {
	margin: 0 .2em .4em .1em;
	border: 1pt solid #aaa;
	padding: .1em .6em .4em .6em;
}

legend { padding:.2em .1em }

span.warning {
    background: yellow;
    padding: 5px;
    font-weight: $font-weight-bold;
}

li {
    padding: 5px;
    margin: 0px;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

a.graphcolumn {
    display: none;
}

.fixed-font {
    font-family: consolas;
}

.loading {
    padding: 10px;
    font-size: 15px;
    color: green;
}