body {
  margin: 0em;
  padding: 0em;
  font-family: $font-family !important;
  font-size: 12px;
  line-height: 1.5;
  color: $font-color;
  background-color: white;
  -webkit-print-color-adjust: exact;
}

/* Set height 100% is needed throughout */
html,
body,
body > div > div {
  height: 100%;
}

// Hiding overflow for the body element is needed.
body {
  overflow: hidden;
}

// The outermost <div> and only this needs this.
body > div {
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

a {
  color: $primary-cta;
}

p,
pre {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  // border: 2px solid #17b;
  margin: 0.3em 0.2em;
  border: 0px;
}

table.limit {
  border-bottom-color: #c31;
}

table.expandable {
  border-bottom-style: dashed;
}

table.error {
  border-bottom-width: 4px;
}

td {
  /*
    background-color: white;
	*/
}

td,
th {
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid #aaa;
  padding: 6px 6px;
  margin: 0;
}

th {
  background-color: $primary-cta;
  color: white;
  text-align: left;
  border: 1px solid #777;
  font-size: 0.9em;
  font-weight: $font-weight-bold;
}

th.member {
  padding: 6px 6px;
}

td.typeheader {
  color: white;
  background-color: transparent;
  padding: 0 0.2em 0.15em 0.1em;
  opacity: 0.5;
  border: 1px transparent solid;
  padding: 2px;
}

td.typeheader:hover {
  opacity: 1;
}

td.typeheader {
  display: none;
}

td.n {
  text-align: right;
}

a:link.typeheader,
a:visited.typeheader,
a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  font-size: 0.8em;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: #000;
  float: left;
  background-color: transparent;
}

a:link.difheader,
a:visited.difheader {
  color: #ff8;
}

a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  float: right;
  padding-left: 2pt;
  margin-left: 4pt;
  background-color: transparent;
}

span.typeglyph,
span.typeglyphx {
  padding: 0 0.2em 0 0;
  margin: 0;
}

span.extenser,
span.extenserx,
span.fixedextenser {
  margin-top: 1.2pt;
}

span.typeglyph,
span.extenser,
span.fixedextenser {
  font-family: webdings;
}

span.fixedextenser {
  display: none;
  position: fixed;
  right: 6px;
}

td.typeheader:hover .fixedextenser {
  display: block;
}

span.typeglyphx,
span.extenserx {
  font-weight: $font-weight-bold;
  margin: 2px;
}

table.group {
  border: none;
  margin: 0;
}

td.group {
  border: none;
  padding: 0 0.1em;
}

div.spacer {
  margin: 0.6em 0;
}

DIV.headingpresenter {
  border: none;
  display: block;
  border-left: 3px solid $primary-cta;
  margin: 0px;
  height: 100%;
}

DIV.headingpresenter H1 {
  border: none;
  padding: 0 0 10px 0;
  color: $primary-cta;
  font-weight: $font-weight-bold;
  font-size: 1em;
  background-color: transparent;
}

DIV.headingpresenter DIV {
  border: none;
  background-color: transparent;
  padding: 0 0 2px 0;
}

td.summary {
  background-color: #def;
  color: #024;
  padding: 6px 6px;
}

td.columntotal {
  background-color: #eee;
  font-weight: $font-weight-bold;
  color: #17b;
  text-align: right;
}

span.graphbar {
  background: #17b;
  color: #17b;
  margin-left: -2px;
  margin-right: -2px;
}

a:link.graphcolumn,
a:visited.graphcolumn {
  color: #17b;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: 1.1em;
  letter-spacing: -0.2em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}

a:link.collection,
a:visited.collection {
  color: green;
}

a:link.reference,
a:visited.reference {
  font-weight: normal;
  font-family: $font-family;
}

i {
  color: green;
}

em {
  color: red;
}

.highlight {
  background: #ff8;
}

.fixedfont {
  font-family: Consolas, monospace;
}

code {
  font-family: Consolas;
}

code.xml b {
  color: blue;
  font-weight: normal;
}
code.xml i {
  color: maroon;
  font-weight: normal;
  font-style: normal;
}
code.xml em {
  color: red;
  font-weight: normal;
  font-style: normal;
}

span.cc {
  background: #666;
  color: white;
  margin: 0px 1.5px;
  padding: 0px 1px;
  font-family: Consolas, monospace;
  border-radius: 3px;
}

.difadd {
  background: #d3f3d3;
}
.difremove {
  background: #f3d8d8;
}

::-ms-clear {
  display: none;
}

input,
textarea,
select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"] {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  font-family: $font-family;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
select {
  height: 30px;
  width: 10em;
  border: 1px solid gray;
}

select {
  box-sizing: content-box;
}

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  background-color: $primary-cta;
  border: 0px;
  color: white;
  border-radius: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-family: $font-family;
}

button:disabled {
  background-color: gray;
}

button:hover {
  background-color: scale-color(
    $primary-cta,
    $lightness: -10%,
    $saturation: 10%
  );
}

button:active {
  background-color: scale-color(
    $primary-cta,
    $lightness: 10%,
    $saturation: -10%
  );
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 0.4em 0 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  background-size: 32px 32px;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23cccccc'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
}
input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231158aa'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E");
}
input[type="radio"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23cccccc'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E");
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231158aa'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E");
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

label.checkbox-label {
  display: block;
  margin-top: 10px;
}

fieldset {
  margin: 0 0.2em 0.4em 0.1em;
  border: 1pt solid #aaa;
  padding: 0.1em 0.6em 0.4em 0.6em;
}

legend {
  padding: 0.2em 0.1em;
}

span.warning {
  background: yellow;
  padding: 5px;
  font-weight: $font-weight-bold;
}

li {
  padding: 5px;
  margin: 0px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

a.graphcolumn {
  display: none;
}

.fixed-font {
  font-family: consolas;
}

.loading,
.meta {
  padding: 10px;
  font-size: 15px;
  color: green;
  text-transform: capitalize;
  display: block;
}
