@import "mixins";
@import "font";

body {
  margin: 0em;
  padding: 0em;
  font-family: "AeonikProVF";
  font-size: 12px;
  line-height: 1.5;
  color: $font-color;
  background-color: $white;
  -webkit-print-color-adjust: exact;
}

/* Set height 100% is needed throughout */
html,
body,
body > div > div {
  height: 100%;
  width: 100%;
}

// Hiding overflow for the body element is needed.
body {
  overflow: hidden;
}

// The outermost <div> and only this needs this.
body > div {
  height: 100vh;
  overflow-x: auto; // Key that horizontal scrolling for everything incl. blades goes here.
}

h1,
h2,
h3 {
  @include weight(700);
}

a {
  color: $cta-blue;
}

p,
pre {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  // border: 2px solid #17b;
  margin: 0.3em 0.2em;
  border: 0px;
  height: fit-content;
  width: 100%;
}

table.limit {
  border-bottom-color: $error;
}

table.expandable {
  border-bottom-style: dashed;
}

table.error {
  border-bottom-width: 4px;
}

td {
  /*
    background-color: white;
	*/
}

td,
th {
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid #aaa;
  padding: 6px 6px;
  margin: 0;
}

th {
  background-color: transparent;
  text-align: left;
  border: 1px solid #777;
  font-size: 0.9em;
}

th.member {
  padding: 6px 6px;
}

td.typeheader {
  color: white;
  background-color: transparent;
  padding: 0 0.2em 0.15em 0.1em;
  opacity: 0.5;
  border: 1px transparent solid;
  padding: 2px;
}

td.typeheader:hover {
  opacity: 1;
}

td.typeheader {
  display: none;
}

td.n {
  text-align: right;
}

a:link.typeheader,
a:visited.typeheader,
a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  font-size: 0.8em;
  @include weight(700);
  text-decoration: none;
  color: #000;
  float: left;
  background-color: transparent;
}

a:link.difheader,
a:visited.difheader {
  color: $alert;
}

a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  float: right;
  padding-left: 2pt;
  margin-left: 4pt;
  background-color: transparent;
}

span.typeglyph,
span.typeglyphx {
  padding: 0 0.2em 0 0;
  margin: 0;
}

span.extenser,
span.extenserx,
span.fixedextenser {
  margin-top: 1.2pt;
}

span.typeglyph,
span.extenser,
span.fixedextenser {
  font-family: webdings;
}

span.fixedextenser {
  display: none;
  position: fixed;
  right: 6px;
}

td.typeheader:hover .fixedextenser {
  display: block;
}

span.typeglyphx,
span.extenserx {
  @include weight(700);
  margin: 2px;
}

table.group {
  border: none;
  margin: 0;
}

td.group {
  border: none;
  padding: 0 0.1em;
}

div.spacer {
  margin: 0.6em 0;
}

DIV.headingpresenter {
  border: none;
  display: block;
  border-left: 3px solid red;
  margin: 0px;
  height: 100%;
}

DIV.headingpresenter H1 {
  border: none;
  padding: 0 0 10px 0;
  color: red;
  @include weight(700);
  font-size: 1em;
  background-color: transparent;
}

DIV.headingpresenter DIV {
  border: none;
  background-color: transparent;
  padding: 0 0 2px 0;
}

td.summary {
  background-color: #def;
  color: #024;
  padding: 6px 6px;
}

td.columntotal {
  background-color: #eee;
  @include weight(700);
  color:  $cta-blue;;
  text-align: right;
}

span.graphbar {
  background: $cta-blue;
  color: $cta-blue;
  margin-left: -2px;
  margin-right: -2px;
}

a:link.graphcolumn,
a:visited.graphcolumn {
  color: $cta-blue;
  text-decoration: none;
  @include weight(700);
  font-size: 1.1em;
  letter-spacing: -0.2em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}

a:link.collection,
a:visited.collection {
  color: $cta-blue;
}

a:link.reference,
a:visited.reference {
  color: $cta-blue;
  font-weight: bold;
  font-family: "AeonikProVF";
}

i {
  color: $success;
}

em {
  color: red;
}

.highlight {
  background: $alert;
}

.fixedfont {
  font-family: Consolas, monospace;
}

code {
  font-family: Consolas;
}

code.xml b {
  color: blue;
  font-weight: normal;
}
code.xml i {
  color: maroon;
  font-weight: normal;
  font-style: normal;
}
code.xml em {
  color: red;
  font-weight: normal;
  font-style: normal;
}

span.cc {
  background: #666;
  color: white;
  margin: 0px 1.5px;
  padding: 0px 1px;
  font-family: Consolas, monospace;
  border-radius: 3px;
}

.difadd {
  background: #d3f3d3;
}
.difremove {
  background: #f3d8d8;
}

::-ms-clear {
  display: none;
}

fieldset {
  margin: 0 0.2em 0.4em 0.1em;
  border: 1pt solid #aaa;
  padding: 0.1em 0.6em 0.4em 0.6em;
}

legend {
  padding: 0.2em 0.1em;
}

span.warning {
  background: $alert;
  padding: 5px;
  @include weight(700);
}

li {
  padding: 5px;
  margin: 0px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

a.graphcolumn {
  display: none;
}

.fixed-font {
  font-family: consolas;
}

.loading,
.meta {
  padding: 10px;
  font-size: 15px;
  color: $tessin-green;
  @include weight(700);
  text-transform: capitalize;
  display: block;
}

span.null
{
  color: $tessin-green;
  @include weight(700);
}

PROGRESS {
  display:block;
}