.blade-wrapper {
  display: flex;
  flex: 1 1 auto; // Allow things to grow and shrink.
  width: max-content; // We dont want the wrapper to grow more than needed.
  overflow-x: auto; // In case blades don't fit in width.
  overflow-y: hidden; // Hide vertical. Always.
  height: 100%;
}

.blade {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 250px;
  height: 100%;
}

.blade-hidden {
  display:none;
}

.side-blade {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
  display: none;
}

.blade-container {
  position: relative;
  padding-top: 0;
  height: 100%;
  width: 100%;
}

.blade-container > div,
.blade-container > div > div {
  display: flex; // Flex all the day.
  width: 100%; // Setting flex needs 100% width.
  height: 100%; // Always 100%.
}

.blade-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.blade-header {
  display: flex;
  flex: 0 0 40px; /* When parent uses flex, we can scale strict here, instead of setting height. */
  width: 100%;

  border-bottom: 1px solid $blade-border-color;
  background-color: $tessin-dark-green;
  color:$tessin-turquoise;

  height: $blade-header-height;

  flex-wrap: nowrap;
  justify-content: space-between;
}

.blade-header > h1 {
  margin: 0;
  padding: 0px 10px;
  font-size: 1.1em;
  font-weight: normal;
  line-height: $blade-header-height;
  overflow: hidden;
}

.blade-header > aside {
  margin-right: 10px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.blade-content {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: flex-start; // We don't want stretching. Align from top to bottom.
  flex-direction: column;
  flex: 1 1 auto; // Required to allow for children to overflow.
  overflow-y: auto; /* In most cases, like toggle-panel, this will suffice to overflow its children. */
}

/* We need flex throughout to figure out scrolling further down the line.. */
.blade-content > div,
.blade-content > div > div,
.blade-content > div > div > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.blade-content > div > div > div > div:not(.matrix) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

// This is deep. Needed to make scrolling work in Menu.
.blade-content > div > div > div > div:not(.matrix) > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blade:nth-child(even) .blade-panel {
  background-color: $blade-panel-even;
}

.blade:nth-child(odd) .blade-panel {
  background-color: $blade-panel-odd;
}

.blade-content H1 {
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  @include weight(700);
}

.menu-blade-group-header {
  padding-left: 10px;
  margin: 0px;
  margin-left: -10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu-blade-group-header SPAN {
  font-size: 1.2em;
  @include weight(400);
  color: red;
  border-bottom: 2px solid red;
}

.blade-content H1 {
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  @include weight(700);
}
