.entity-editor-link {
    display: block;
    overflow: hidden;
}

.entity-editor-bool {
    margin-top: 10px;
}

.field {
    margin-top:10px;
}

.field > input[type="checkbox"]
{
    margin-top:2px;
    margin-bottom: 2px
}

.field--header {
    display:flex;
    justify-content: space-between;

    SPAN {
        font-size: 12px;
        font-weight: bold;
        
    }

    DIV {
        
    }

}