.progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.progress-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-container button {
  margin-top: 8px;
}

.progress--title {
  font-size: 1.5em;
  color: white;
}

.progress--animation {
  position: relative;
  width: 80px;
  height: 80px;
}

.progress--animation .line {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.animation-bg {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 6px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(255, 255, 255, 0.5);
}

.progress--animation .line:nth-child(1) {
  animation-delay: -0.45s;
}

.progress--animation .line:nth-child(2) {
  animation-delay: -0.3s;
}

.progress--animation .line:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
