$panel-margin: 10px;

$blade-header-height:60px;

$blade-panel-even: #ffffff;
$blade-panel-odd: #f8f8f8;

$blade-border-color: #ccc;
$blade-pill-color: #ccc;
$blade-button-hover: #e1e1e1;

$focus-outline: $medium-grey;

@mixin theme($name, $color, $color-light, $color-dark, $foreground) {
    .theme-#{$name} {
       background-color: $color; 
       color:$foreground;
    }
    
    .theme-#{$name}:hover {
        background-color: $color-light;  
    }

    .theme-#{$name}:active {
        background-color: $color-dark;   
    }
    
    .theme-#{$name}:focus {
        background-color: $color-dark;
        outline: 1px solid $focus-outline;   
    }

    .theme-#{$name}:disabled {
        color: $medium-grey;  
        fill: $medium-grey;    
    }

    .icon.theme-#{$name}
    {
        background-color:transparent;
    }

    .icon.theme-#{$name} svg {
        fill:$color;
    }
    
    .icon-button.theme-#{$name} svg {
        fill:$color;
    }

    .icon-button.theme-#{$name}:hover svg {
        fill:$color-dark;
    }

    .icon-button.theme-#{$name}:hover {
        background-color:transparent;
     }

    .icon-button.theme-#{$name}:active {
        background-color: transparent;   
        outline:none;
    }
    
    .icon-button.theme-#{$name}:focus {
        background-color: transparent;   
        outline:none;
    }

    .icon-button.theme-#{$name}:disabled svg {
        fill: $medium-grey;
    }
  }

  @mixin theme-outlined($name, $color, $color-light, $color-dark, $foreground) {
    .theme-#{$name} {
       background-color: transparent;
       border: 2px solid $color; 
       color:$color;
    }
    
    .theme-#{$name}:hover {
       border: 2px solid $color-light; 
       color:$color-light; 
    }

    .icon-button.theme-#{$name} {
        border:0px;
    }

    .icon-button.theme-#{$name}:hover {
        fill:$color-dark;       
    }

    .icon-button.theme-#{$name} svg {
        fill:$color;
    }

    .icon-button.theme-#{$name}:hover {
        background-color:transparent;
     }

    .icon.theme-#{$name}
    {
        border:0px;
    }

    .icon.theme-#{$name} svg {
        fill:$color;
    }
    
    .icon-button.theme-#{$name}:active {
        background-color: transparent;   
        outline:none;
    }
    
    .icon-button.theme-#{$name}:focus {
        background-color: transparent;   
        outline:none;
    }
    
    .theme-#{$name}:active {
        background-color: $color-dark;   
    }
    
    .theme-#{$name}:focus {
        background-color: $color-dark;
        outline: 3px solid $focus-outline;   
    }

    .theme-#{$name}:disabled {
        color: $medium-grey;  
        border: 2px solid $medium-grey; 
        background: transparent;
    }
  }
  
  @include theme("primary", $cta-blue, $cta-blue-light, $cta-blue-dark, $white);
  @include theme("primary-alternate", $tessin-turquoise, $tessin-turquoise-light, $tessin-turquoise-dark, $tessin-dark-green);
  @include theme("error", $error, $error-light, $error-dark, $soft-black);
  @include theme("alert", $alert, $alert-light, $alert-dark, $soft-black);
  @include theme("success", $success, $success-light, $success-dark, $soft-black);
  @include theme-outlined("secondary", $cta-blue, $cta-blue-light, $cta-blue-dark, $white);
  @include theme-outlined("secondary-alternate", $tessin-turquoise, $tessin-turquoise-light, $tessin-turquoise-dark, $tessin-dark-green);
  @include theme("empty", $neutral-grey, $soft-grey, $medium-grey, $soft-black);

/////////////////////////////////////////////////////////////////////




