$panel-margin: 10px;

$blade-header-height:60px;

$blade-panel-even: #ffffff;
$blade-panel-odd: #f8f8f8;

$blade-border-color: #ccc;
$blade-pill-color: #ccc;
$blade-button-hover: #e1e1e1;

$focus-outline: $medium-grey;

.theme-primary {
    background-color: $cta-blue; 
    color:$white;     
}

.theme-primary:hover {
    background-color: $cta-blue-light;   
}

.icon-button.theme-primary {
    opacity: 0.5;
}

.icon-button.theme-primary:hover {
    background-color: transparent;   
    opacity: 1;
}

.icon-button.theme-primary:active {
    background-color: transparent;   
    outline:none;
}

.icon-button.theme-primary:focus {
    background-color: transparent;   
    outline:none;
}

.theme-primary:active {
    background-color: $cta-blue-dark;   
}

.theme-primary:focus {
    background-color: $cta-blue-dark;
    outline: 3px solid $focus-outline;   
}

.theme-secondary {
    background-color: transparent; 
    border: 2px solid $cta-blue;     
    color: $cta-blue;
}

.theme-secondary:hover {  
    border: 2px solid $cta-blue-light;     
    color: $cta-blue-light;
}

.theme-secondary:active {  
    border: 2px solid $cta-blue-dark;     
    color: $cta-blue-dark;
}

.theme-secondary:focus {
    border: 2px solid $cta-blue-dark;     
    color: $cta-blue-dark;
    outline: 3px solid $focus-outline;   
}

.theme-primary-alternate {
    background-color: $tessin-turquoise; 
    fill:$tessin-turquoise;
    color:$tessin-dark-green;     
}

.theme-primary-alternate:hover {
    background-color: $tessin-turquoise-light;
    fill:$tessin-turquoise-light;   
}

.icon-button.theme-primary-alternate:hover {
    background-color:transparent;
}

.theme-primary-alternate:active {
    background-color: $tessin-turquoise-dark;   
}

.icon-button.theme-primary-alternate:hover {
    background-color: transparent;
    fill:$tessin-turquoise-light;  
}

.icon-button.theme-primary-alternate:active {
    fill: $tessin-turquoise-dark;   
}

.theme-primary-alternate:disabled {
    color: $medium-grey;  
    fill: $medium-grey;    
}

.theme-primary-alternate:focus {
    background-color: $tessin-turquoise-dark;
    outline: 3px solid $focus-outline;   
}

.icon-button.theme-primary-alternate:focus {
    fill: $tessin-turquoise-dark; 
    background: none;
    outline: none;
}

.theme-secondary-alternate {
    background-color: transparent; 
    border: 2px solid $white;     
    color: $white;
}

.theme-secondary-alternate:hover {  
    border: 2px solid $tessin-turquoise;     
    color: $tessin-turquoise;
}

.theme-secondary-alternate:active {  
    border: 2px solid $tessin-turquoise-dark;     
    color: $tessin-turquoise-dark;
}

.theme-secondary-alternate:focus {
    border: 2px solid $tessin-turquoise-dark;    
    color: $tessin-turquoise-dark;
    outline: 3px solid $focus-outline;   
}

.theme-secondary-alternate:disabled {
    background: transparent;
    border: 2px solid $neutral-grey; 
    color: $neutral-grey; 
}

.theme-error {
    background-color: $error; 
    color:$soft-black;     
}

.theme-error:hover {
    background-color: $error-light;   
}

.theme-error:active {
    background-color: $error-dark;   
}

.theme-error:focus {
    background-color: $error-dark;
    outline: 3px solid $focus-outline;   
}

.theme-success {
    background-color: $success; 
    color:$soft-black;     
}

.theme-success:hover {
    background-color: $success-light;   
}

.theme-success:active {
    background-color: $success-dark;   
}

.theme-success:focus {
    background-color: $success-dark;
    outline: 3px solid $focus-outline;   
}

.theme-alert {
    background-color: $alert; 
    color:$soft-black;     
}

.theme-alert:hover {
    background-color: $alert-light;   
}

.theme-alert:active {
    background-color: $alert-dark;   
}

.theme-alert:focus {
    background-color: $alert-dark;
    outline: 3px solid $focus-outline;   
}


