// .hrun > DIV {
//     display: flex;
//     flex-direction: row;
// }

// .vrun > DIV {
//     display: flex;
//     width:100%;
//     flex-direction: column;
// } 

// .vrun-center > DIV {
//     align-items: center;   
// }

// .vrun-left > DIV {
//     align-items: flex-start;   
// }

// .vrun-right > DIV {
//     align-items: flex-end;   
// }

SPAN.small {
    font-size:0.9em;    
    color:darkgray;
}

.error {    
    color:darkred;
    font-weight: bold;
}

H1.default
{
    font-size: 2.5em !important;
}

H2.default
{
    font-size: 2em;
}

P.default
{
    
}

SPAN.no-wrap
{
    white-space: nowrap;
}