.hrun > DIV {
    display: flex;
    flex-direction: row;
}

.vrun > DIV {
    display: flex;
    width:100%;
    flex-direction: column;
} 

.vrun-center > DIV {
    align-items: center;   
}

.vrun-left > DIV {
    align-items: flex-start;   
}

.vrun-right > DIV {
    align-items: flex-end;   
}

SPAN.small {
    font-size:0.8em;    
    color:darkgray;
}