.red {
  fill: red;
  color: red;
}

.yellow {
  fill: yellow;
  color: yellow;
}

.purple {
  fill: purple;
  color: purple;
}

.blue {
  fill: blue;
  color: blue;
}

.black {
  fill: black;
  color: black;
}

.green {
  fill: green;
  color: green;
}

.gray {
  fill: gray;
  color: gray;
}

body {
  margin: 0em;
  padding: 0em;
  font-family: "Roboto", sans-serif !important;
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  background-color: white;
  -webkit-print-color-adjust: exact;
}

/* Set height 100% is needed throughout */
html,
body,
body > div > div {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

body > div {
  height: 100vh;
  overflow-x: auto;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #1158aa;
}

p,
pre {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin: 0.3em 0.2em;
  border: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

table.limit {
  border-bottom-color: #c31;
}

table.expandable {
  border-bottom-style: dashed;
}

table.error {
  border-bottom-width: 4px;
}

td {
  /*
    background-color: white;
	*/
}

td,
th {
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid #aaa;
  padding: 6px 6px;
  margin: 0;
}

th {
  background-color: #1158aa;
  color: white;
  text-align: left;
  border: 1px solid #777;
  font-size: 0.9em;
  font-weight: 400;
}

th.member {
  padding: 6px 6px;
}

td.typeheader {
  color: white;
  background-color: transparent;
  padding: 0 0.2em 0.15em 0.1em;
  opacity: 0.5;
  border: 1px transparent solid;
  padding: 2px;
}

td.typeheader:hover {
  opacity: 1;
}

td.typeheader {
  display: none;
}

td.n {
  text-align: right;
}

a:link.typeheader,
a:visited.typeheader,
a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  float: left;
  background-color: transparent;
}

a:link.difheader,
a:visited.difheader {
  color: #ff8;
}

a:link.extenser,
a:visited.extenser,
a:link.fixedextenser,
a:visited.fixedextenser {
  float: right;
  padding-left: 2pt;
  margin-left: 4pt;
  background-color: transparent;
}

span.typeglyph,
span.typeglyphx {
  padding: 0 0.2em 0 0;
  margin: 0;
}

span.extenser,
span.extenserx,
span.fixedextenser {
  margin-top: 1.2pt;
}

span.typeglyph,
span.extenser,
span.fixedextenser {
  font-family: webdings;
}

span.fixedextenser {
  display: none;
  position: fixed;
  right: 6px;
}

td.typeheader:hover .fixedextenser {
  display: block;
}

span.typeglyphx,
span.extenserx {
  font-weight: 400;
  margin: 2px;
}

table.group {
  border: none;
  margin: 0;
}

td.group {
  border: none;
  padding: 0 0.1em;
}

div.spacer {
  margin: 0.6em 0;
}

DIV.headingpresenter {
  border: none;
  display: block;
  border-left: 3px solid #1158aa;
  margin: 0px;
  height: 100%;
}

DIV.headingpresenter H1 {
  border: none;
  padding: 0 0 10px 0;
  color: #1158aa;
  font-weight: 400;
  font-size: 1em;
  background-color: transparent;
}

DIV.headingpresenter DIV {
  border: none;
  background-color: transparent;
  padding: 0 0 2px 0;
}

td.summary {
  background-color: #def;
  color: #024;
  padding: 6px 6px;
}

td.columntotal {
  background-color: #eee;
  font-weight: 400;
  color: #17b;
  text-align: right;
}

span.graphbar {
  background: #17b;
  color: #17b;
  margin-left: -2px;
  margin-right: -2px;
}

a:link.graphcolumn,
a:visited.graphcolumn {
  color: #17b;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: -0.2em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}

a:link.collection,
a:visited.collection {
  color: green;
}

a:link.reference,
a:visited.reference {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

i {
  color: green;
}

em {
  color: red;
}

.highlight {
  background: #ff8;
}

.fixedfont {
  font-family: Consolas, monospace;
}

code {
  font-family: Consolas;
}

code.xml b {
  color: blue;
  font-weight: normal;
}

code.xml i {
  color: maroon;
  font-weight: normal;
  font-style: normal;
}

code.xml em {
  color: red;
  font-weight: normal;
  font-style: normal;
}

span.cc {
  background: #666;
  color: white;
  margin: 0px 1.5px;
  padding: 0px 1px;
  font-family: Consolas, monospace;
  border-radius: 3px;
}

.difadd {
  background: #d3f3d3;
}

.difremove {
  background: #f3d8d8;
}

::-ms-clear {
  display: none;
}

input,
textarea,
select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"] {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
select {
  height: 30px;
  width: 10em;
  border: 1px solid gray;
}

input[type="color"] {
  width: 20px;
}

select {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  background-color: #1158aa;
  border: 0px;
  color: white;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
}

button:disabled {
  background-color: gray;
}

button:hover {
  background-color: #0e4f9b;
}

button:active {
  background-color: #1d68be;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 0.4em 0 0;
  width: 32px;
  height: 32px;
  padding: 3px;
  background-size: 32px 32px;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23cccccc'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231158aa'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E");
}

input[type="radio"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23cccccc'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E");
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231158aa'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E");
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

label.checkbox-label {
  display: block;
  margin-top: 10px;
}

fieldset {
  margin: 0 0.2em 0.4em 0.1em;
  border: 1pt solid #aaa;
  padding: 0.1em 0.6em 0.4em 0.6em;
}

legend {
  padding: 0.2em 0.1em;
}

span.warning {
  background: yellow;
  padding: 5px;
  font-weight: 400;
}

li {
  padding: 5px;
  margin: 0px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

a.graphcolumn {
  display: none;
}

.fixed-font {
  font-family: consolas;
}

.loading,
.meta {
  padding: 10px;
  font-size: 15px;
  color: green;
  text-transform: capitalize;
  display: block;
}

PROGRESS {
  display: block;
}

SPAN.small {
  font-size: 0.9em;
  color: darkgray;
}

.error {
  color: darkred;
  font-weight: bold;
}

H1.default {
  font-size: 2.5em !important;
}

H2.default {
  font-size: 2em;
}

P.default {
  max-width: 400px;
}

SPAN.no-wrap {
  white-space: nowrap;
}

PRE.code {
  border: 1px solid lightgray;
  background-color: ivory;
  font-size: 12px;
  padding: 10px;
  max-width: 400px;
  max-height: 500px;
  overflow: auto;
  font-family: consolas;
}

.blade-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

.blade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  min-width: 250px;
  height: 100%;
}

.blade-hidden {
  display: none;
}

.side-blade {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
  display: none;
}

.blade-container {
  position: relative;
  padding-top: 0;
  height: 100%;
  width: 100%;
}

.blade-container > div,
.blade-container > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.blade-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.blade-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  /* When paren uses flex, we can scale strict here, instead of setting height. */
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: aqua;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blade-header > h1 {
  margin: 0;
  padding: 0px 10px;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 40px;
  overflow: hidden;
}

.blade-header > aside {
  margin-right: 10px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blade-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  /* In most cases, like toggle-panel, this will suffice to overflow its children. */
}

/* We need flex throughout to figure out scrolling further down the line.. */
.blade-content > div,
.blade-content > div > div,
.blade-content > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.blade-content > div > div > div > div:not(.matrix) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.blade-content > div > div > div > div:not(.matrix) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.blade:nth-child(even) .blade-panel {
  background-color: #ffffff;
}

.blade:nth-child(odd) .blade-panel {
  background-color: #f8f8f8;
}

.blade-content H1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.menu-blade-group-header {
  padding-left: 10px;
  margin: 0px;
  margin-left: -10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menu-blade-group-header SPAN {
  font-size: 1.2em;
  font-weight: 400;
  color: #1158aa;
  border-bottom: 2px solid #1158aa;
}

.blade-content H1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.entity-editor-link {
  display: block;
  overflow: hidden;
}

.entity-editor-bool {
  margin-top: 10px;
}

.entity-editor--column {
  min-width: 230px;
}

.field {
  margin-top: 10px;
}

.field > input[type="checkbox"] {
  margin-top: 2px;
  margin-bottom: 2px;
}

.field--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.field--header DIV {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

SPAN.field--header-label {
  font-size: 12px;
  font-weight: bold;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

SPAN.field--header-description {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

SPAN.field--header-description:after {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  top: 1px;
  left: 2px;
  width: 15px;
  height: 15px;
  content: " ";
  background-size: 15px 15px;
  background-position: 0;
  display: block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z' fill='purple'/%3E%3C/svg%3E");
}

.progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.progress-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress-container button {
  margin-top: 8px;
}

.progress--title {
  font-size: 1.5em;
  color: white;
}

.progress--animation {
  position: relative;
  width: 80px;
  height: 80px;
}

.progress--animation .line {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.animation-bg {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 6px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(255, 255, 255, 0.5);
}

.progress--animation .line:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.progress--animation .line:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.progress--animation .line:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-button {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 200px;
  max-width: 300px;
  min-height: 43px;
  height: auto !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Centers Button Element on the Left and Button Menu on the right */
  background-color: transparent;
}

.menu-button > .button {
  padding-top: 4px;
  margin: 0;
  width: 100%;
  line-height: 24px;
  color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(32px, auto) 1fr;
      grid-template-columns: minmax(32px, auto) 1fr;
  cursor: pointer;
}

.menu-button > .button > .menu-button--icon {
  margin-top: -1px;
  height: 24px;
}

.menu-button > .button > div > svg {
  opacity: 0.5;
}

.menu-button > .button > span {
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.menu-button > .button > .dc {
  line-height: 1.5;
}

.menu-button:hover {
  background-color: #e1e1e1;
}

.menu-button--pill {
  background-color: #ccc;
  padding: 4px 7px;
  border-radius: 12px;
  font-size: 0.8em;
  margin-left: 5px;
  white-space: nowrap;
}

.menu-button--actions {
  position: absolute;
  top: 0;
  right: 7px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.menu-button--actions > button {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.icon-button {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  display: block;
}

.icon-button:hover {
  opacity: 1;
  background: transparent;
}

.icon-button:active {
  background: transparent;
}

.pill {
  background-color: aquamarine;
  color: #1158aa;
  font-size: 0.6em;
  padding: 10px;
  border-radius: 0.5em;
}

.search-box {
  position: relative;
}

.search-box INPUT {
  height: 30px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1158aa;
  padding-left: 10px;
  padding-right: 30px;
}

.search-box .context-menu {
  display: none;
  position: absolute;
}

.search-box .external-clear {
  display: none;
  position: absolute;
  right: 3px;
  top: 0px;
}

.search-box .flexbox .external-open {
  display: none;
  position: absolute;
}

.context-menu ul {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style-type: none;
  background-color: white;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  z-index: 10;
}

.context-menu ul li {
  padding: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.context-menu ul li[disabled="disabled"] {
  color: lightgray;
}

.context-menu ul li:hover {
  background-color: lightgrey;
}

.header-panel {
  min-height: 0;
  width: 100%;
}

.header-panel--container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-panel--header {
  z-index: 1;
  background-color: powderblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  min-height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-panel--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-panel--body > div,
.header-panel--body > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.header-panel--body > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  height: 100px;
}

.header-panel--body > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header-panel--body > div > div > div > .menu {
  overflow-y: scroll;
  height: 100px;
}

.async-data-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.collapsable-panel {
  width: 100%;
}

.collapsable-panel--container {
  width: 100%;
}

BUTTON.collapsable-panel--header {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  outline: none;
  background-color: transparent;
  color: black;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
}

BUTTON.collapsable-panel--header:before {
  position: absolute;
  top: 8px;
  left: -2px;
  z-index: 1;
  content: " ";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3E%3C/svg%3E");
  -webkit-transform: rotateZ(90deg) scale(1.3);
          transform: rotateZ(90deg) scale(1.3);
  background-size: 20px 20px;
  background-position: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.collapsable-panel-open .collapsable-panel--header:before {
  -webkit-transform: rotateZ(180deg) scale(1.3);
          transform: rotateZ(180deg) scale(1.3);
}

.collapsable-panel--body {
  display: none;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 0px;
}

.collapsable-panel-open .collapsable-panel--body {
  display: block;
}

.property-list {
  min-width: 230px;
}

.property-list > DIV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 2px;
  padding-right: 2px;
}

.property-list > DIV:hover {
  background-color: #faf9f9;
}

.property-list > DIV > SPAN:first-child {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 20px;
}

.card {
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  margin-left: 1px;
  margin-right: 1px;
}

.matrix {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.matrix > DIV.col-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
  font-weight: bold;
  height: 100%;
}

.matrix > DIV.col-header > SPAN {
  padding-bottom: 5px;
}

.matrix > DIV.row-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: right;
  font-weight: bold;
  width: 100%;
}

.matrix > DIV.row-header > SPAN {
  padding-right: 10px;
}

.matrix > DIV.cell {
  min-width: 75px;
  min-height: 54px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.multi-select-box {
  min-width: 220px;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid black;
  background: white;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
/*# sourceMappingURL=default.css.map */