body {
    margin: 0em;
    padding: 0em;
    height: 100%;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
    -webkit-print-color-adjust: exact;
}

h1, h2, h3 { font-weight: 400; }

table {
    border-collapse: collapse;
    border: 2px solid #17b;
    margin: 0.3em 0.2em;
    border: 0px;
}

td.typeheader {
    background-color: #aaa;
    opacity: 0.5;
    border: 1px #aaa solid;
    padding: 2px;
}

td.typeheader:hover {
    opacity: 1;
}

a:link.extenser {
    background-color: transparent;
}

a:link.typeheader {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    background-color: transparent;
}

span.typeglyph, span.extenser, span.fixedextenser {
    font-family: webdings;
}

td.typeheader {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

td.typeheader a {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

th.summary {
    border-top: 2px solid #000000;
}

table {
    border: 0;
    maring: 0;
}

td {
    background-color: white;
}

td, th {
    margin: 0px;
    border: 1px solid #aaa;
    padding: 6px 6px;
    vertical-align: middle;
}

th {
    background-color: rgb(17, 88, 170);
    color: white;
}

th.member {
    padding: 0.1em 0.2em 0.1em 0.2em;
}


table.limit {
    border-bottom-color: #c31;
}

table.expandable {
    border-bottom-style: dashed;
}

table.error {
    border-bottom-width: 4px;
}

table.headingpresenter {
    border: none;
    border-left: 3px solid rgb(17, 88, 170);
    margin: .8em 0em 1em 0.15em;
}

th.headingpresenter {
    border: none;
    padding: 0 0 0.2em 0.5em;
    color: rgb(17, 88, 170);
    font-weight: 400;
    font-size: 1.2em;
    background-color: transparent;
}

td.headingpresenter {
    background-color: transparent;
}

a {
    color: rgb(17, 88, 170);
}

button {
    font-family: "Roboto", sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    height: 35px;
    background-color: rgb(17, 88, 170);
    border: 0px;
    color: white;
    font-weight: 500;
}

input,select {
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    width: 20em;
    font-family: "Roboto", sans-serif;
}

textarea {
    font-family: "Roboto", sans-serif;
    width: 20em;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

span.warning {
    background: yellow;
    padding: 5px;
    font-weight: 400;
}

li {
    padding: 5px;
    margin: 0px;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

a.graphcolumn {
    display: none;
}

.fixed-font {
    font-family: consolas;
}

.blade-wrapper {
    display: flex;
    height: 100vh;
}

.blade {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 250px;
    min-height: 0;
    height: 100vh;
}

.blade-container {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding-top: 0px;
    height: 100%;
    width: 100%;
}

.blade-panel {
    height: 100vh;
    width: 100%;
}

.blade-header {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: aquamarine;
    z-index: 100;
}

.blade-header h1 {
    margin: 0;
    padding: 0px 10px;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 40px;
    overflow: hidden;
}

.blade-header aside {
    margin-right: 5px;
    margin-top: 8px;
}

.blade-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.blade:nth-child(even) .blade-panel {
    background-color: #ffffff;
}

.blade:nth-child(odd) .blade-panel {
    background-color: #f8f8f8;
}

.loading {
    padding: 10px;
    font-size: 15px;
    color: green;
}

/* MENU-BUTTON */

.menu-button {
    padding: 0px;
    margin: 0px;
    margin-left: -10px;
    width: 100%;
    min-width: 250px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-button button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-button--actions {
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-button button:hover {
    background-color: #dddddd;
}

.menu-button button svg {
    margin-left: 5px;
    opacity: 0.5;
}

.menu-button button span {
    margin-left: 10px;
    font-size: 1.1em;
    font-family: "Roboto"
}

/* //MENU-BUTTON */


/* ICON-BUTTON: */

.icon-button {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    width: 204x;
    height: 24px;
    opacity: 0.5;
    cursor: pointer;
}

button.icon-button:hover {
    opacity: 1;
}

/* //ICON-BUTTON */

.pil {
    background-color: aquamarine;
    color: rgb(17, 88, 170);
    font-size: 0.8em;
    padding: 3px;
    border-radius: 0.5em;
}

.entity-editor-link {
    display: block;
    width: 30em;
    overflow: hidden;
}

.entity-editor-textarea {
    width: 30em;
}

.entity-editor-select {
    width: 30em;
}

div.menu-blade-group-header {
    padding-left: 10px;
    margin: 0px;
    margin-left: -10px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
}

DIV.menu-blade-group-header SPAN {
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(17, 88, 170);
    border-bottom: 2px solid rgb(17, 88, 170);
}