BUTTON {
  padding-left: 13px;
  padding-right: 13px;
  height: $control-height;
  border-radius: 4px;
  font-family: "AeonikProVF";
  font-size:14px;
  @include weight(400);
  outline:none;
  border:none;
  background:none;
  cursor: pointer;
  letter-spacing: 0.02em;
  padding-top:1px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

BUTTON:disabled {
  background-color: $neutral-grey;
  cursor: auto;   
}

BUTTON:disabled:hover {
  background-color: $neutral-grey;      
}

TABLE.entity-grid TD > BUTTON {
  background-color:transparent;
  box-shadow: none;
  color:red;
  border:none;
  width:100%;
  @include weight(700);
}

BUTTON.icon-button {
  box-shadow: none;
  background: red;
  padding: 0;
  border: 0;
  width: 24px;
  cursor: pointer;
  display: block;
}

