BUTTON {
  padding-left: 13px;
  padding-right: 13px;
  height: $control-height;
  border-radius: 4px;
  font-family: "AeonikProVF";
  font-size:14px;
  @include weight(400);
  outline:none;
  border:none;
  background:none;
  cursor: pointer;
  padding-top:1px;
}

BUTTON:disabled {
  background-color: $neutral-grey;
  cursor: auto;   
}

BUTTON:disabled:hover {
  background-color: $neutral-grey;      
}

TABLE.entity-grid TD > BUTTON {
  background-color:transparent;
  box-shadow: none;
  color: $font-color;
  border:none;
  width:100%;
  @include weight(700);
}

TABLE.entity-grid TD > BUTTON:hover {
  color: $white;
}

BUTTON.icon-button {
  background:transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 24px;
  height: $control-height;
  cursor: pointer;
  display: grid;
  align-content: center;
}

