.card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  margin-left: 1px;
  margin-right: 1px;
}

.card > div
{
  padding: $panel-margin;
}

.card-warning {
  background-color: lightyellow;
}

.card--title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}