.context-menu
{

}

.context-menu ul
{
    position: absolute;
    border: 1px solid rgba(0,0,0,.1);
    list-style-type: none;
    background-color: white;
    margin:0px;
    padding:0px;
    visibility: hidden; 
    z-index: 10;
}

.context-menu ul li 
{
    padding: 0px 16px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

.context-menu ul li[disabled="disabled"]
{
    color:lightgray; 
}


.context-menu ul li:hover
{
    background-color:lightgrey;
}