.filter-panel {
  margin-left: -$panel-margin;
  margin-right: -$panel-margin;
}

.filter-panel--container {
  background-color: blue;
  height: 100%;
}

.filter-panel--header {
  margin-top: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: fuchsia;
  width: calc(100% - 37px);
  padding: $panel-margin;
}

.filter-panel--body {
  padding-right: $panel-margin;
  padding-left: $panel-margin;
  margin-top: 50px;
  padding-bottom: $panel-margin;
  height: 100%;
}
