.header-panel {
  min-height: 0;
  width: 100%;
}

.header-panel--container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-panel--header {
  flex: 0 0 40px;
  z-index: 1;
  background-color: powderblue;
  padding-left: $panel-margin;
  padding-right: $panel-margin;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $blade-border-color;
  width: 100%;
  min-height: 43px;
  box-sizing: border-box;
}

.header-panel--body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: $filter-panel-color;
}

.header-panel--body > div,
.header-panel--body > div > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.header-panel--body > div {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100px;
}

.header-panel--body > div > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-panel--body > div > div > div > .menu {
  overflow-y: scroll;
  height: 100px;
}