.header-panel {
  min-height: 0;
  width:100%;
}

.header-panel--container {
  height: 100%;
}

.header-panel--header {
  z-index: 1;
  background-color: powderblue;
  padding-left: $panel-margin;
  padding-right: $panel-margin;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $blade-border-color;
  width:100%;
  box-sizing: border-box;
}

.header-panel--body {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: $filter-panel-color;
}
.header-panel--body .menu {
}
