BUTTON.icon-button {
  box-shadow: none;
  background: transparent;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  display: block;
}

BUTTON.icon-button:hover {
  opacity: 1;
  background: transparent;
}

BUTTON.icon-button:active {
  background: transparent;
}

BUTTON.icon-button:disabled {
  background-color:transparent;
  opacity: 0.2;
}