.icon-button {
  box-shadow: none;
  background: transparent;
  padding: 0;
  margin-top: 5px;
  border: 0;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  display: block;
}

.icon-button:hover {
  opacity: 1;
}
