.menu {
  flex: 1 1 auto;
}

.menu-button {
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 300px;
  min-height: 43px;
  height: auto !important;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  
  position: relative;

  border-bottom: 1px solid $blade-border-color;
  display: flex;
  align-items: center; /* Centers Button Element on the Left and Button Menu on the right */
  background-color: transparent;
}

.menu-button > .button {
  padding-top: 4px;
  margin: 0;
  width: 100%;
  line-height: 24px;
  color: #000000;
  display: grid;
  grid-template-columns: minmax(32px, auto) 1fr;
  cursor: pointer;
}

.menu-button > .button > .menu-button--icon {
  margin-top: -1px;
  height: 24px;
}

.menu-button > .button > div > svg {
  opacity: 0.5;
}

.menu-button > .button > span {
  font-family: $font-family;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.menu-button > .button > .dc {
  line-height: 1.5;
}

.menu-button:hover {
  background-color: $blade-button-hover;
}

.menu-button--pill {
  background-color: $blade-pill-color;
  padding: 4px 7px;
  border-radius: 12px;
  font-size: 0.8em;
  margin-left: 5px;
  white-space: nowrap;
}

.menu-button--actions {
  position: absolute;
  top: 0;
  right: 7px;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.menu-button--actions > button {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}
