.menu {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 10px;
}

.menu-button {
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;

  position: relative;

  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center; /* Centers Button Element on the Left and Button Menu on the right */
  background-color: transparent;
}

.menu-button > .button {
  padding: 0px;
  margin: 0;
  width: 100%;
  min-height: 24px;
  line-height: 24px;

  color: #000000;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.menu-button > .button > div {
  display: flex;

}

.menu-button > .button > div > svg {
  opacity: 0.5;
  margin-right: 5px;
}

.menu-button > .button > span {
  font-family: $font-family;
}

.menu-button > .button > .dc {
  line-height: 1.5;
}

.menu-button:hover {
  background-color: #e1e1e1;
}

.menu-button--pill {
  background-color: #ccc;
  padding: 4px 7px;
  border-radius: 12px;
  font-size: 0.8em;
}

.menu-button--actions {
  position: absolute;
  top: 0;
  right: 7px;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.menu-button--actions > button {
  margin: 3px;
}
