.pill {
    background-color: $tessin-turquoise;
    color: $soft-black;
    font-size: 0.8em;
    @include weight(700);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 1em;
}