.pill {
    background-color: aquamarine;
    color: rgb(17, 88, 170);
    font-size: 0.8em;
    @include weight(700);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 1em;
}