.property-list {
  min-width: 230px;
}

.property-list > DIV {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20px;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:2px;
  padding-right:2px;;
}

.property-list > DIV:hover {
  background-color: #faf9f9;
}

.property-list > DIV > SPAN:first-child {
  text-align: left;
  font-size: 1.1em;
  @include weight(700);
  padding-right: 20px;
}

// .property-list > DIV > DIV {
//   font-size: 1.1em;
//   margin-left: auto;
//   margin-right: 0;
//   position: relative;
//   text-align: right;
// }
