.search-box {
  position:relative;
}

.search-box INPUT {
  height: 30px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $primary-cta;
  padding-left: 10px;
  padding-right: 30px;
}

.search-box .context-menu {
  display: none;
  position: absolute;
}

.search-box .external-clear {
  display: none;
  position: absolute;
  right:3px;
  top:0px;
}

.search-box .flexbox .external-open {
  display: none;
  position: absolute;
}
