.search-box
{ 
    height: 22px;  
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $primary-cta;
    padding-left:10px;
}

.search-box:-ms-input-placeholder {
    color: #ccc !important;
    font-weight: 400 !important;
    font-size: 13px;
    font-family: $font-family;
}